.c-page-top {
  visibility: hidden;
  position: fixed;
  bottom: rem(20);
  right: rem(20);
  width: rem(70);
  height: rem(70);
  opacity: 0;
  transition:
    visibility 0.3s,
    opacity 0.3s;
}

.c-page-top.is-show {
  visibility: visible;
  opacity: 1;
}

.c-page-top__link {
  transition: opacity 0.3s;
}

.c-page-top__link:hover {
  opacity: 0.7;
}
